header{
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
 position: absolute;
 top:112px;
 right: 0;
}


nav li {
    display:inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-style: italic;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: 	#808080;
}

footer{
    text-align: center;
    padding: 40px 0;
}

.Copyright{
    margin: 20px 0 0;
}
main{
    width: 940px;
    margin:0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: gray;
    color: white;
    font-weight: bold;
    border: none;
    border-radius:5px;
    cursor: pointer;
}

.enviar:hover{
    background:  black;
}