
header{
    padding: 20px 0;
} 
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
 position: absolute;
 top:112px;
 right: 0;
}


nav li {
    display:inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-style: italic;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: 	#808080;
}
#banner{
  width: 100%;
  height: 800px;
  
} 

.principal{
    background-color: #CCCC;
    padding: 30px;
    margin: 20px 0 0;
    font-size: 25px;
    
}


.titulo-principal{
    padding-left: 20PX;
    font-weight: bold;

}

h2{
    text-align: center;
    margin: 40px;
    font-weight: bold;
    
}


h3{
    font-weight: bold; 
    margin: 40px; 
    text-align: center;
    
}

p{
   text-align: center; 
   font-size: 20px;
   font-style: italic;
}



.itens{
    font-style: italic;   
}

.beneficios{
    padding: 20px;
    
    
    
}



.imagembeneficios{
    width: 50%;
    padding-left: 25%;
    margin: 20px 0 0;
    
}

footer{
    text-align: center;
    padding: 40px 0;
}

.Copyright{
    margin: 20px 0 0;
}

